# Postgres image. Used to create db on first build.
POSTGRES_PASSWORD=secret_password
POSTGRES_USER=db_user
POSTGRES_DB=db_name


# Django image. These will be used by `django-environ`
DJANGO_SECRET_KEY=very_long_secret_key_&^%$#&$#*^%

